body {
    background-color: #222;
}

h1 a{
    color: khaki;
}

h2 a{
    color: #eee;
}

p{
    color: lightpink;
}

.title-tags,
.title-webs {
    color: #eee;
}

a:link,
:hover {
    color: lightslategray;
}

.search-in {
    color: lightgrey;
    background-color: rgb(0, 0, 49);
}

.search-btn {
    background-color: rgb(0, 0, 49);
}

.tag,
#web {
    border: #909090 1.5px solid;
}

#web {
    color: lightgrey;
    background-color: rgb(0, 0, 49);
}

.on {
    background-color: lightgrey;
    color: darkslategrey;
}

.off {
    background-color: darkslategrey;
    color: lightgrey;
}