body{
    background-color: #222;
}
.title-1{
    color: khaki;
}
.title-2{
    color: whitesmoke;
}
.title-tags,.title-webs{
    color: whitesmoke;
}
a:link,:hover {
    color: lightslategray;
}
.search-in{
    color: whitesmoke;
    background-color: rgb(0, 0, 49);
}
.search-btn{
    background-color: rgb(0, 0, 49);
}
.tag,#web{
    border:#909090 1.5px solid;
}
#web{
    color: whitesmoke;
    background-color: rgb(0, 0, 49);
}
.on{
    background-color: #eee;
    color: darkslategrey;
}
.off{
    background-color: darkslategrey;
    color: #eee;
}

