body {
    background-color: #f7f7f7;
}

.title-1 {
    color: darkorange;
}

.title-2 {
    color: darkslateblue;
}

.title-tags,
.title-webs {
    color: darkblue;
}

a:link,
:hover {
    color: black;
}

.search-in {
    color: navy;
    background-color: lemonchiffon;
}

.search-btn {
    background-color: lemonchiffon;
}

.tag,
#web {
    border: #909090 1.5px solid;
}

#web {
    color: navy;
    background-color: lemonchiffon;
}

.on {
    background-color: darkslategray;
    color: #eee;
}

.off {
    background-color: #eee;
    color: darkslategray;
}