/* 右键菜单 */
#customContextMenu {
    display: none;
    position: absolute;
    z-index: 1000;
    background-color: #ffffff;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 0px;
    width: 120px;
}

#customContextMenu li {
    padding: 8px 10px;
    /* 增加填充，使菜单项更易点击 */
    border-top: 1px solid #ddd;
    /* 为每个菜单项添加上边框 */
}

#customContextMenu li:first-child {
    border-top: none;
    /* 第一个菜单项不需要上边框 */
}

#customContextMenu li:last-child {
    border-bottom: none;
    /* 为最后一个菜单项不需要下边框 */
}

#customContextMenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#customContextMenu ul li {
    padding: 8px 12px;
    cursor: pointer;
    color: #333;
}

/* #customContextMenu ul li:hover {
    background-color: #f5f5f5;
    color: #000;
} */

#customContextMenu li.selected-font {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    /* 添加阴影效果 */
    background-color: #f0f0f0;
    /* 可选：改变背景颜色增强视觉效果 */
}