body {
    background-color: #f7f7f7;
}

.title-1 {
    text-decoration: underline;
    text-decoration-color: darkorange;
}

h1 a {
    color: darkorange;
}

.title-2 {
    text-decoration: underline;
    text-decoration-color: darkslateblue;
}

h2 a {
    color: darkslateblue;
}

.title-tags,
.title-webs {
    color: darkblue;
}

.search-in {
    color: navy;
    background-color: lemonchiffon;
}

.search-btn {
    background-color: lemonchiffon;
}

.tag,
#web {
    border: #909090 1.5px solid;
}

#web {
    color: navy;
    background-color: lemonchiffon;
}

.on {
    background-color: darkslategray;
    color: #eee;
}

.off {
    background-color: #eee;
    color: darkslategray;
}

.footer-text {
    color: purple;
}