@import url('https://cdn.jsdelivr.net/npm/cn-fontsource-smiley-sans-oblique-regular@1.0.1/font.min.css');
@import url('https://npm.elemecdn.com/lxgw-wenkai-webfont@1.6.0/style.css');

* {
    margin: 0;
    padding: 0;
}
/* 右键菜单 */
#customContextMenu {
    display: none;
    position: absolute;
    z-index: 1000;
    background-color: #ffffff;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    border-radius: 3px;
    padding: 0px;
    width: 100px;
}

#customContextMenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#customContextMenu ul li {
    padding: 8px 12px;
    cursor: pointer;
    color: #333;
}

#customContextMenu ul li:hover {
    background-color: #f5f5f5;
    color: #000;
}

/* 字体部分 */

:root {
    --main-font-family: 'Smiley Sans Oblique';
}

/* @font-face {
    font-family: 'SmileySans';
    src: url('/font/SmileySans-Oblique.ttf.woff2') format('woff2');
    font-display: swap;
} */

/* @font-face {
    font-family: 'LXGW';
    src: url('/font/LXGWWenKaiMonoLite-Bold.ttf') format('truetype');
    font-display: swap;
} */

body {
    backdrop-filter: blur(15px);
    width: 98vw;
    height: 100vh;
    margin: 0 auto;
    font-family: var(--main-font-family);
    letter-spacing: 1px;
    text-align: center;
}

/* 需要黑白时专用 */
/* body { filter: grayscale(100%); } */

#darkbtn {
    border: none;
    background-color: transparent;
    margin-left: 80vw;
    margin-top: 2vh;
}

.html-container {
    width: 98vw;
    text-align: center;
    margin: 0 auto;
    padding: 0 0 3vh;
    position: relative;
    min-height: 88vh;
}

h1,
h2 {
    text-align: center;
    font-weight: bolder;
    font-family: var(--main-font-family);
}

/* 为标题设置样式 */
h1 {
    margin: 3vh 0;
}

h2 {
    margin: 1vh 0;
    font-size: 1.1em;
}

.search-box {
    text-align: center;
    margin: 2vh;
    display: inline-block;
    padding: 2px;
}

.search-in {
    border: 2px solid #909090;
    border-radius: 10px;
    width: 9rem;
    padding: 5px;
    font-size: 16px;
    font-family: var(--main-font-family);
    line-height: 20px;
}

p {
    position: absolute;
    font-size: xx-small;
    white-space: nowrap;
    bottom: 2vh;
    left: 50%;
    transform: translateX(-50%);
}

.search-btn {
    border: 2px solid #909090;
    border-radius: 10px;
    padding: 5px;
    font-size: 16px;
}

.title-tags,
.title-webs {
    text-align: center;
    font-size: 1em;
    margin: 1vh 0;
}

a:link,
:hover {
    text-decoration: none;
}

#tags-container,
#webs-container {
    margin: 0 8vw;
    padding: 1vh 0 3vh;
    text-align: center;
}

.tag,
#web {
    display: inline-block;
    margin: 5px;
    padding: 1px 5px;
    line-height: 24px;
    border-radius: 5px;
    letter-spacing: 0.5px;
    font-weight: light;
    font-size: 0.9em;
    font-family: var(--main-font-family);
}

.social-icons a {
    display: inline-block;
    margin: 2px;
    padding-bottom: 3vh;
}