@import url('https://chinese-fonts-cdn.deno.dev/chinesefonts3/packages/dyh/dist/SmileySans-Oblique/result.css');
@import url('https://chinese-fonts-cdn.deno.dev/chinesefonts3/packages/lxgwwenkai/dist/LXGWWenKai-Regular/result.css');
@import url('https://chinese-fonts-cdn.deno.dev/chinesefonts3/packages/jhlst/dist/京華老宋体v1_007/result.css');
@import url('https://chinese-fonts-cdn.deno.dev/chinesefonts3/packages/mzxst/dist/MZPXorig/result.css');
@import url('https://chinese-fonts-cdn.deno.dev/chinesefonts3/packages/lxgwmanhei/dist/LXGWMarkerGothic/result.css');

* {
    margin: 0;
    padding: 0;
}

/* 字体部分 */

:root {
    --main-font-family: 'KingHwa_OldSong';
}

body {
    user-select: none;
    /* 所有现代浏览器 */
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+ */
    backdrop-filter: blur(15px);
    width: 98vw;
    height: 100vh;
    margin: 0 auto;
    font-family: var(--main-font-family);
    letter-spacing: 1px;
    text-align: center;
}

/* 需要黑白时专用 */
/* body { filter: grayscale(100%); } */

#darkbtn {
    border: none;
    background-color: transparent;
    margin-left: 80vw;
    margin-top: 2vh;
}

.html-container {
    width: 98vw;
    text-align: center;
    margin: 0 auto;
    position: relative;
    min-height: 88vh;
    padding-bottom: 5vh;
}

h1,
h2 {
    text-align: center;
    font-weight: normal;
    font-family: var(--main-font-family);
}

/* 为标题设置样式 */
h1 {
    margin: 3vh 0;
}

h2 {
    margin: 1vh 0;
    font-size: 1.1em;
}

.search-box {
    text-align: center;
    display: inline-block;
    padding: 1vh 0;
    width: 80vw;
}

.search-in {
    width: 9rem;
}

.search-btn {
    height: 34px;
    width: 34px;
}

.search-in,
.search-btn {
    margin: 2px 1px;
    padding: 5px;
    font-size: 16px;
    line-height: 20px;
    border: 2px solid #909090;
    border-radius: 10px;
    font-family: var(--main-font-family);

}

.title-tags,
.title-webs {
    text-align: center;
    font-size: 1em;
    margin: 1vh 0;
}

a:link,
:hover {
    text-decoration: none;
}

#tags-container,
#webs-container {
    margin: 0 8vw;
    padding: 1vh 0;
    text-align: center;
}

.tag,
#web {
    display: inline-block;
    margin: 5px;
    padding: 1px 5px;
    line-height: 24px;
    border-radius: 5px;
    letter-spacing: 0.5px;
    font-size: 0.9em;
    font-family: var(--main-font-family);
}

.footer-text {
    position: absolute;
    font-size: xx-small;
    white-space: nowrap;
    bottom: 2vh;
    left: 50%;
    transform: translateX(-50%);
    /* text-align: center; */
    /* padding: 2vh 0 ; */
    /* font-size: x-small; */
    /* white-space: nowrap; */
    /* left: 50%; */
}